<%- include("header_auth") %>
<style>
@media (max-width: 718px) {
    .quantity {
        display: block;
    }
}
</style>
<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Shopping Cart</a></li>
		</ul>
		
		<div class="row">
			<!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h2 class="title">Shopping Cart</h2>
          <div id="crt" style="display: none;">
            <div class="table-responsive form-group">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td class="text-center">Image</td>
                    <td class="text-left">Product Name</td>
                    <td class="text-left">Car Details</td>
                    <td class="text-left">Quantity</td>
                    <td class="text-right">Unit Price</td>
                    <td class="text-right">Total</td>
                  </tr>
                </thead>
                <tbody id="list">
               
                </tbody>
              </table>
            </div>
	
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8">
				<table class="table table-bordered">
					<tbody>
						<!--<tr>-->
						<!--	<td class="text-right">-->
						<!--		<strong>Sub-Total:</strong>-->
						<!--	</td>-->
							
						<!--	<td class="text-right" id="sub"><%- cur %> 0</td>-->
						<!--</tr>-->
						<!--<tr>-->
						<!--	<td class="text-right">-->
						<!--		<strong>Flat Shipping Rate:</strong>-->
						<!--	</td>-->
						<!--	<td class="text-right">$4.69</td>-->
						<!--</tr>-->
						<!--<tr>-->
						<!--	<td class="text-right">-->
						<!--		<strong>Eco Tax (-2.00):</strong>-->
						<!--	</td>-->
						<!--	<td class="text-right">$5.62</td>-->
						<!--</tr>-->
						<!--<tr>-->
						<!--	<td class="text-right">-->
						<!--		<strong>Shipping:</strong>-->
						<!--	</td>-->
						<!--	<td class="text-right" id="ship"><%- cur %> 560.35</td>-->
						<!--</tr>-->
						<tr>
							<td class="text-right">
								<strong>Total:</strong>
							</td>
							<td class="text-right" id="total"><%- cur %> 0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
            <center id="empty" style="display: none;">
                <div class="mt-5 pt-5 mb-5 pb-5">
                    <img src="/undraw_empty_cart_co35 (1).png" class="mb-3" height="250px" />
                    <p class="small my-2">
                        No Items in Cart
                    </p>
                </div>
            </center>
            <center id="loading">
                <div class="mt-5 pt-5 mb-5 pb-5">
                    <span class="spinner spinner-border text-success">Loading...</span>
                </div>
            </center>
		 <div class="buttons mb-2">
            <div class="pull-left"><a href="/parts" class="btn btn-primary mb-2">Continue Shopping</a></div>
            <div class="pull-right" style="display: none;" id="check"><a onclick="makePayment()" class="btn btn-primary mb-2">Checkout</a></div>
          </div>
        </div>
        <!--Middle Part End -->
			
		</div>
	</div>

<%- include("footer_auth") %>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
    
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>
<script>
 var ship = 0;
var sub = 0
var total = 0
if(localStorage.getItem('products')){
        var products = JSON.parse(localStorage.getItem('products'));
    }
else {
    var products = []
}

axios.post("/items", {
products
}).then(data => {
    if(data.data.items){
        if(data.data.items.length > 0){
            const get_discount = (price, dis) => {
                                var d1 = price * dis
                                return Math.floor(d1/100)
                                
                            }
            
            var txt = ``
            
            data.data.items.forEach(item => {
                var price = item.discount > 0? item.price - get_discount(parseInt(item.price), item.discount) : item.price
                let storageProducts = JSON.parse(localStorage.getItem('products'));
                var qty = storageProducts.filter(product => product.id == item.id)[0].quantity
                console.log(storageProducts, qty)
                sub += parseInt(price) * qty
                txt += `
                <tr>
                    <td class="text-center"><a href="/parts/${item.id}"><img width="70px" src="${item.img_url}" alt="${item.name}" title="${item.name}" class="img-thumbnail"></a></td>
                    <td class="text-left"><a href="/parts/${item.id}">${item.name}</a><br>
                     </td>
                    <td class="text-left">${item.model.name}/${item.model.car.brand.name}</td>
                    <td class="text-left" width="200px"><div class="input-group btn-block quantity">
                        <input type="text" name="quantity" value="${qty}" id="${item.id + "_qty"}" size="1" class="form-control the_qty" onkeypress="return isNumber(event)">
                        <span class="input-group-btn">
                        <button type="submit" data-toggle="tooltip" title="" class="btn btn-primary" onclick="update_qty('${item.id}', '${item.img_url}','${item.name}', '${item.stock}')" data-original-title="Update"><i class="fa fa-refresh"></i></button>
                        <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="remove('${item.id}', '${item.name}')" data-original-title="Remove"><i class="fa fa-times-circle"></i></button>
                        </span></div></td>
                    <td class="text-right"><%- cur %> ${price.toFixed(2)}</td>
                    <td class="text-right"><%- cur %> ${(price * qty).toFixed(2)}</td>
                  </tr>
                `
            })
            document.getElementById("list").innerHTML = txt
           // document.getElementById("sub").innerHTML = '<%- cur %>' + sub
            document.getElementById("total").innerHTML = `<%- cur %> ${sub.toFixed(2)}`
            total = sub + 560.35
            $("#crt").show()
            $("#check").show()
            $("#loading").remove()
        }else {
            $("#empty").show()
            $("#loading").remove()
        }
    }else {
        localStorage.removeItem("products")
        location.reload()
    }
}).catch(err => {
    console.log(err)
     $("#empty").show()
            $("#loading").remove()
})

function insertAt(array, index, ...elements) {
    array.splice(index, 0, ...elements);
}
    const update_qty = (id, image, name, max) => {
        var val = document.getElementById(id + "_qty").value
        if(parseInt(max) !== parseInt(val) && parseInt(val) > parseInt(max) ){
            return $.alert('only ' + max + ' in Stock')
        }
        let storageProducts = JSON.parse(localStorage.getItem('products'));
        let product = storageProducts.filter(product => product.id === id )[0];
    let products = storageProducts.filter(product => product.id !== id );
    localStorage.setItem('products', JSON.stringify(products));
    
    let prod = [];
    if(localStorage.getItem('products')){
        prod = JSON.parse(localStorage.getItem('products'));
    }
    
    insertAt(prod, storageProducts.indexOf(product), {'id' : id, "image" : image, "name": name, quantity: val});
    localStorage.setItem('products', JSON.stringify(prod));
    console.log(prod, val)
    $.alert("Quantity Updated")
    location.reload()
}
    
    const remove = (id, name) => {

    // Your logic for your app.

    // strore products in local storage

    let storageProducts = JSON.parse(localStorage.getItem('products'));
    let products = storageProducts.filter(product => product.id !== id );
    localStorage.setItem('products', JSON.stringify(products));
        addProductNotice("CART UPDATED", `<h3><a href="#">${name}</a> removed from <a href="/cart">shopping cart</a>!</h3>`, 'success');
        document.getElementById("ct_num").innerHTML = products.length
		            location.reload()
    }
    function makePayment() {
        <% if(user){ %>
        location.href = "/checkout"
<!--           $.confirm({-->
<!--    title: 'Make Payment?',-->
<!--    content: 'Pay NGN' + total + " ?",-->
<!--    buttons: {-->
<!--        confirm: function () {-->
            
<!--    FlutterwaveCheckout({-->
<!--      public_key: "FLWPUBK_TEST-288013119a15ef4c3629c60632dec0df-X",-->
<!--      tx_ref: "PAY_TX_u8889",-->
<!--      amount: total,-->
<!--      currency: "NGN",-->
<!--      country: "NG",-->
<!--      payment_options: "card, mobilemoneyghana, ussd",-->
    //   redirect_url: // specified redirect URL
    //     "https://callbacks.piedpiper.com/flutterwave.aspx?ismobile=34",
    //   meta: {
    //     consumer_id: 23,
    //     consumer_mac: "92a3-912ba-1192a",
    //   },
<!--      customer: {-->
<!--        email: "dev.ayomide@gmail.com",-->
<!--        phone_number: "07016195980",-->
<!--        name: "Ayomide Oloyede",-->
<!--      },-->
<!--      callback: function (data) {-->
<!--        console.log(data);-->
          /* your callback code */ 
<!--       location.href= "/"-->
<!--      },-->
<!--      onclose: function() {-->
        // close modal
<!--      },-->
<!--      customizations: {-->
<!--        title: "My store",-->
<!--        description: "Payment for items in cart",-->
<!--        logo: "https://gapaautoparts.com/img/logo.png",-->
<!--      },-->
<!--    });-->
           
<!--        },-->
<!--        cancel: function () {-->
           
<!--        }-->
<!--    }-->
<!--});-->
<% }else { %>
location.href = "/login?ref=/cart"
<% } %>
  }
  
</script>