
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title><%= title %></title>
    <meta charset="utf-8">
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/css/themecss/lib.css" rel="stylesheet">
    <link href="/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/js/minicolors/miniColors.css" rel="stylesheet">
    
    <link href="/js/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/pe-icon-7-stroke/css/helper.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="/css/themecss/so_advanced_search.css" rel="stylesheet">
    <link href="/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="/css/themecss/so-categories.css" rel="stylesheet">
    <link href="/css/themecss/so-newletter-popup.css" rel="stylesheet">
    <link href="/css/themecss/so-latest-blog.css" rel="stylesheet">

    <link href="/css/footer/footer6.css" rel="stylesheet">
    <link href="/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="/css/home6.css" rel="stylesheet"> 
    <link href="/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,600,700' rel='stylesheet' type='text/css'> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <style type="text/css">
    .main-container {
        margin-top: 160px;
    }
         @media (max-width: 895px) {
             .main-container {
                 margin-top: 150px;
             }
             .header-bottom.hidden-compact .container {
                 /*background-color: #fff!important;*/
             }
         }
                  @media (max-width: 600px) {
             .main-container {
                 margin-top: 240px;
             }
             .header-bottom.hidden-compact .container {
                 /*background-color: #fff!important;*/
             }
             .header-bottom.hidden-compact {
                 margin-top: 0px!important;
             }
             .shft {
                 padding-right: 25px!important;
             }
                  }
            @media (max-width: 420px) {
             .main-container {
                 margin-top: 240px;
             }
             .header-bottom.hidden-compact .container {
                 /*background-color: #fff!important;*/
                 padding: 0px 10px;
             }
             .shft {
                 padding-right: 35px!important;
             }
                  }
         body{font-family:'Poppins', sans-serif;}
         .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
         }
      .right-block {
             z-index: 0!important;
         }
         @media (max-width: 528px) {
             .logo img {
                 height: 45px;
             }
         }
   .logo img {
    max-height: 95.5px;
}      
         @media (max-width: 528px){
.logo img {
    height: 80px;
    width: auto;
}
}
    
    
         .typeheader-1 {
             background-color: #f7cd3a;
         }
/*         .container-megamenu.horizontal ul.megamenu > li:hover > a, .container-megamenu.horizontal ul.megamenu > li > a:hover, .container-megamenu.horizontal ul.megamenu > li.active > a, .container-megamenu.horizontal ul.megamenu > li.active_menu > a {*/
/*    background-color: #4c4892;*/
/*    color: #fff;*/
/*}*/
/*.common-home .container-megamenu.horizontal ul.megamenu > li.home > a {*/
/*    background-color: #4c4892;*/
/*    color: #fff;*/
/*}*/
.typeheader-1 #sosearchpro .search button {
    background-color: #4c4892;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
    background-color: #4c4892;
}

.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative;
    border: 2px solid #4c4892;
    border-radius: 5px;
    color: #fff!important;
}

.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    border-right: 2px solid #4c4892;
}

.typeheader-1 .compare, .typeheader-1 .top-link-wishlist {
    border: 2px solid #4c4892;
    color: #fff!important;
}
/*.container-megamenu.horizontal ul.megamenu > li > a {*/
/*    background-color: #ecc63e;*/
/*    color: #fff;*/
/*}*/
.typeheader-1 .header-bottom {
    border-bottom: 2px solid #4c4892;
}
.container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:hover {
    cursor: pointer;
    background: linear-gradient(to top, #f5f5f5, #4c4892);
}
  .typeheader-1 #sosearchpro .search {
    position: relative;
    margin: 0;
    border: 2px solid #4c4892;
    border-radius: 5px;
    width: 100%;
}
.typeheader-1 .header-middle {
    clear: both;
    padding: 24px 0 13px 0;
}

#cover-spin_2 {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin_2::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
    </style>
<script>
//     window.onscroll = function() {myFunction()};

// // Get the navbar
// var navbar = document.getElementById("header");

// // Get the offset position of the navbar
// var sticky = navbar.offsetTop;

// // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
// function myFunction() {
//   if (window.pageYOffset >= sticky) {
//     navbar.classList.add("sticky")
//     document.getElementById("").style.marginTop = "10px"
//   } else {
//     navbar.classList.remove("sticky");
//     document.getElementById("").style.marginTop = "10px"
//   }
// }
</script>
</head>

<body class="common-home res layout-6">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-7">
    
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="background: rgba(0,0,0, 0.7);">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="margin-top: 35vh;">
      <div class="box-advanced-search" style="background: #f5f5f5; background-size: 100% 100%;border-radius: 0;margin-top: 0px;">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right; margin-top: 10px; margin-right: 10px; font-size: 30px;color: #000;"><span aria-hidden="true">&times;</span></button>
                    <div class="so_advanced_search" style="margin-bottom: 0px!important; background: url('/Sprinkle.svg') center; background-repeat: no-repeat; background-size: cover;">
                        <div class="sas_wrap">
                            <div class="sas_inner">
                                <div class="heading-title"><h2 style="padding: 10px 10px 10px 10px;">Find Your Vehicle Parts</h2></div>
                                <div class="sas_inner-box-search" style="padding: 10px 30px 10px 30px">
                                    <form action="/search" class="row" style="margin-bottom: 10px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-boxes">
                                            
                                            <div id="cover-spin_2"></div>
                                            
                                            <select name="make" id="so_make0_2" class="form-control" onchange="change_model_2()">
                                                <option value="">Select Make</option>
                                                    <% brands.forEach(brand => { %>
                                                    <option value="<%= brand.id %>"><%= brand.name %></option>
                                                    <% }) %> 
                                                    
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-boxes" id="002_2">
                                            <select name="model" id="so_model0_2" class="form-control" onchange="change_md_2()">
                                                <option value="">Select Model</option>
                                                
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-boxes" id="003_2">
                                            <select name="year" id="so_year0_2" class="form-control" onchange="change_yr_2()">
                                                <option value="">Select Year</option>
                                            </select>
                                        </div>
                                      
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-button">
                                            <button type="submit" id="sas_search_button0_2" style="width: 100%;">Find My Part</button>
                                        </div>
                                    </form>  
                                   
                                </div>
                            </div>   
                        </div>
                    </div> 
                </div>
                
    </div>
  </div>
</div>
    <header id="header" class=" typeheader-1" style="position: fixed;top: 0;width: 100%;z-index: 99;">
        
        <!-- Header Top -->
        <div class="header-top hidden-compact"> 
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">           
                        <div class="telephone " >
                            <ul class="socials">
                                <li class="facebook"><a href="https://www.facebook.com/smartaddons.page" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="https://twitter.com/smartaddons" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="google_plus"><a href="https://plus.google.com/u/0/+Smartaddons/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li class="pinterest"><a href="https://www.pinterest.com/smartaddons/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>             
                        
                        
                    </div>
                    <div class="header-top-right col-lg-9 col-md-8 col-sm-7 col-xs-12">
                        <ul class="top-link list-inline lang-curr">
                             
                              <% if(user){ %>
                            <li class="language" style="color: #fff!important;">
                                <!--<div class="btn-group languages-block ">-->
                                <!--    <form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">-->
                                <!--        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">-->
                                <!--            <img src="image/catalog/flags/gb.png" alt="English" title="English">-->
                                <!--            <span class="eng">English</span>-->
                                <!--            <span class="fa fa-angle-down"></span>-->
                                <!--        </a>-->
                                <!--        <ul class="dropdown-menu">-->
                                <!--            <li><a href="index.html"><img class="image_flag" src="image/catalog/flags/gb.png" alt="English" title="English" /> English </a></li>-->
                                <!--            <li> <a href="html_with_RTL/index.html"> <img class="image_flag" src="image/catalog/flags/ar.png" alt="Arabic" title="Arabic" /> Arabic </a> </li>-->
                                <!--        </ul>-->
                                <!--    </form>-->
                                <!--</div>-->
                                Welcome <b><%= user.firstName %></b>
                            </li>
                            <% } %>
                        </ul>
                        <% if(user){ %>
                        <ul class="top-log list-inline" style="color: #fff!important;"> 
                        <div class="btn-group languages-block ">
                        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user" style="color: #ecc63e!important; margin-top: 8px;"></i>
                                            <span class="eng" style="color: #fff!important;"> My Account</span>
                                            <span class="fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/account">My Account </a></li>
                                           <li><a href="/orders">My Orders </a></li>
                                           <li><a href="/refer">My Reward Points </a></li>
                                           <li><a href="/wishlist">Wishlist</a></li>
                                           <li><a href="/logout">Logout </a></li>
                                        </ul>
                                        </div>
                            <!--<li style="color: #fff!important;"><i class="fa fa-user" style="color: #ecc63e!important;"></i><a href="/account" style="color: #fff!important;">MY ACCOUNT</a></li>-->
                        </ul>
                        <% } else { %>
                        <ul class="top-log list-inline" style="color: #fff!important;">                          
                            <li style="color: #fff!important;"><i class="fa fa-lock" style="color: #ecc63e!important;"></i><a href="/login" style="color: #fff!important;">LOGIN</a> / </li><li><a href="/register" style="color: #fff!important;">REGISTER</a></li>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>      
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row">           
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="/"><img src="<%= settings[0].logo %>" title="Your Store" width="320px" alt="Gapa Logo" /></a>
                        </div>
                        
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 middle-right">
                        <div class="search-header-w">
                            <div class="icon-search hidden-lg hidden-md"><i class="fa fa-search"></i></div>                                
                              
                            <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                <form method="GET" action="/parts-search">
                                    <div id="search0" class="search input-group form-group">
                                        <div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                                            <select class="no-border" name="type">
                                                 <option value="name">Search By Part Name</option>
                                                 <option value="code">Search By Part Number</option>
                                                 <option value="vin">Search By Vin</option>
                                                                                           </select>
                                        </div>

                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Keyword here..." name="title" required>
                                
                                        <button type="submit" class="button-search btn btn-primary"><i class="fa fa-search"></i></button>
                                    
                                    </div>
                                    <input type="hidden" value="product/search" />
                                </form>
                            </div>
                        </div>

                        <div class="shopping_cart">
                            <div id="cart" class="btn-shopping-cart">

                                <a href="/cart" class="btn-group top_cart dropdown-toggle">
                                    <div class="shopcart">
                                        <span class="icon-c">
                                            <i class="fa fa-shopping-basket" style="color: #4c4892!important;"></i>
                                        </span>
                                        <div class="shopcart-inner" style="color: #fff!important;">
                                            <p class="text-shopping-cart" style="color: #000!important;">
                                                My cart
                                            </p>

                                            <span class="total-shopping-cart cart-total-full">
                                            <span class="items_cart" id="ct_num">0</span><span class="items_cart2"> item(s)</span>
                                            </span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="wishlist"><a href="/wishlist" class="top-link-wishlist" title="Wish List"><i class="fa fa-heart" style="color: #4c4892;"></i></a></div>
                                         
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom hidden-compact"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="menu-vertical-w">   
                            <div class="responsive so-megamenu megamenu-style-dev ">
                                <div class="so-vertical-menu ">
                                    <nav class="navbar-default">    
                                        
                                        <div class="container-megamenu vertical">
                                            <div id="menuHeading">
                                                <div class="megamenuToogle-wrapper">
                                                    <div class="megamenuToogle-pattern">
                                                        <div class="container">
                                                            <div>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                            All Brands                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            <div class="navbar-header">
                                                <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">      
                                                    <i class="fa fa-bars"></i>
                                                    <span>Brands </span>
                                                </button>
                                            </div>
                                            <div class="vertical-wrapper" >
                                                <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container-mega">
                                                        <ul class="megamenu">
                                                            <% brands.forEach(brand => { %>
                                                            <li class="item-vertical css-menu with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="/makes/<%= brand.slug %>" class="clearfix">                                                                                                                                    
                                                                    <span><%= brand.name %></span>
                                                                    <b class="fa-angle-right"></b>
                                                                </a>
                                                                <div class="sub-menu" data-subwidth="35" style="width: 600px!important; display: none; right: 0px;">
                                                                    <div class="content" style="display: none;width: 600px!important;">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <% brand.cars.forEach((car, id) => { %>
                                                                                    <% if(id < 8){ %>
                                                                                            <div class="col-sm-4 static-menu" style="margin: 2px 4px;">
                                                                                            <div class="menu">
                                                                                              <ul>
                                                                                                  <li>
                                                                                                      <a href="#" class="main-menu">
                                                                                                          <%= car.name %>
                                                                                                      </a>
                                                                                                      <ul>
                                                                                                          <% car.models.forEach(model => { %>
                                                                                                          <li><a href="/model/<%= model.slug %>" style="font-size: 9px;"><%= model.name %></a></li>
                                                                                                              
                                                                                                          <% }) %>
                                                                                                      </ul>
                                                                                                  </li>
                                                                                              </ul>  
                                                                                            </div>
                                                                                            </div><% } %>
                                                                                        <% }) %>
                                                                                        
                                                                                    <!--<div class="col-sm-12 hover-menu">-->
                                                                                        
                                                                                    <!--    <div class="menu">-->
                                                                                    <!--        <ul>-->
                                                                                    <!--            <% categories.forEach(cat => { %>-->
                                                                                    <!--            <li>-->
                                                                                    <!--                <a href="/makes/<%= brand.slug %>/<%= cat.slug %>" class="main-menu"><%= cat.title %></a>-->
                                                                                    <!--            </li>-->
                                                                                    <!--            <% }) %>-->
                                                                                    <!--    </div>-->
                                                                                    <!--</div>-->
                                                                                    
                                                                                </div>
                                                                                
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                           <% }) %>
                                                           
                                                            <!-- <li class="loadmore">
                                                                <i class="fa fa-plus-square-o"></i>
                                                                <span class="more-view">More Categories</span>
                                                            </li> -->
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        <div class="main-menu-w">
                            <div class="responsive so-megamenu megamenu-style-dev">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal open ">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        
                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                        <li class="">
                                                            <a href="/parts">All Parts</a>
                                                        </li>
                                                        <% categories.forEach((cat, id) => { %>
                                                        <% if(id < 5){ %>
                                                         <li class="text-capitalize">
                                                            <a href="/category/<%= cat.slug %>"><%= cat.title %></a>
                                                        </li>
                                                        <% } %>
                                                        <% }) %>
                                                        <!-- <li class="">-->
                                                        <!--    <a href="/parts">View Available Parts</a>-->
                                                        <!--</li>-->
                                                        <!-- <li class="">-->
                                                        <!--    <a href="/account">My Account</a>-->
                                                        <!--</li>-->
                                                        <!-- <li class="">-->
                                                        <!--    <a href="/orders">Orders</a>-->
                                                        <!--</li>-->
                                                        <!-- <li class="">-->
                                                        <!--    <a href="/">Categories</a>-->
                                                        <!--</li>-->
                                                        <!--<li class="with-sub-menu hover">-->
                                                        <!--    <p class="close-menu"></p>-->
                                                        <!--    <a href="#" class="clearfix">-->
                                                        <!--        <strong>Features</strong>   -->
                                                        <!--        <b class="caret"></b>-->
                                                        <!--    </a>-->
                                                        <!--    <div class="sub-menu" style="width: 100%; right: auto;">-->
                                                        <!--        <div class="content" >-->
                                                        <!--            <div class="row">-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <div class="column">-->
                                                        <!--                        <a href="#" class="title-submenu">Listing pages</a>-->
                                                        <!--                        <div>-->
                                                        <!--                            <ul class="row-list">-->
                                                        <!--                                <li><a href="category.html">Category Page 1 </a></li>-->
                                                        <!--                                <li><a href="category-v2.html">Category Page 2</a></li>-->
                                                        <!--                                <li><a href="category-v3.html">Category Page 3</a></li>-->
                                                        <!--                            </ul>-->
                                                                                    
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <div class="column">-->
                                                        <!--                        <a href="#" class="title-submenu">Product pages</a>-->
                                                        <!--                        <div>-->
                                                        <!--                            <ul class="row-list">-->
                                                        <!--                                <li><a href="product.html">Product page 1</a></li>-->
                                                        <!--                                <li><a href="product-v2.html">Product page 2</a></li>-->
                                                                                        <!-- <li><a href="product-v3.html">Image size - small</a></li> -->
                                                        <!--                            </ul>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <div class="column">-->
                                                        <!--                        <a href="#" class="title-submenu">Shopping pages</a>-->
                                                        <!--                        <div>-->
                                                        <!--                            <ul class="row-list">-->
                                                        <!--                                <li><a href="cart.html">Shopping Cart Page</a></li>-->
                                                        <!--                                <li><a href="checkout.html">Checkout Page</a></li>-->
                                                        <!--                                <li><a href="compare.html">Compare Page</a></li>-->
                                                        <!--                                <li><a href="wishlist.html">Wishlist Page</a></li>-->
                                                                                    
                                                        <!--                            </ul>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <div class="column">-->
                                                        <!--                        <a href="#" class="title-submenu">My Account pages</a>-->
                                                        <!--                        <div>-->
                                                        <!--                            <ul class="row-list">-->
                                                        <!--                                <li><a href="login.html">Login Page</a></li>-->
                                                        <!--                                <li><a href="register.html">Register Page</a></li>-->
                                                        <!--                                <li><a href="my-account.html">My Account</a></li>-->
                                                        <!--                                <li><a href="order-history.html">Order History</a></li>-->
                                                        <!--                                <li><a href="order-information.html">Order Information</a></li>-->
                                                        <!--                                <li><a href="return.html">Product Returns</a></li>-->
                                                        <!--                                <li><a href="gift-voucher.html">Gift Voucher</a></li>-->
                                                        <!--                            </ul>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--            </div>-->
                                                        <!--        </div>-->
                                                        <!--    </div>-->
                                                        <!--</li>-->
                                                        <!--<li class="with-sub-menu hover">-->
                                                        <!--    <p class="close-menu"></p>-->
                                                        <!--    <a href="#" class="clearfix">-->
                                                        <!--        <strong>Pages</strong>-->
                                                        <!--        <b class="caret"></b>-->
                                                        <!--    </a>-->
                                                        <!--    <div class="sub-menu" style="width: 40%; ">-->
                                                        <!--        <div class="content" >-->
                                                        <!--            <div class="row">-->
                                                        <!--                <div class="col-md-6">-->
                                                        <!--                    <ul class="row-list">-->
                                                        <!--                        <li><a class="subcategory_item" href="faq.html">FAQ</a></li>-->
                                                                                
                                                        <!--                        <li><a class="subcategory_item" href="sitemap.html">Site Map</a></li>-->
                                                        <!--                        <li><a class="subcategory_item" href="contact.html">Contact us</a></li>-->
                                                        <!--                        <li><a class="subcategory_item" href="banner-effect.html">Banner Effect</a></li>-->
                                                        <!--                    </ul>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-6">-->
                                                        <!--                    <ul class="row-list">-->
                                                        <!--                        <li><a class="subcategory_item" href="about-us.html">About Us 1</a></li>-->
                                                        <!--                        <li><a class="subcategory_item" href="about-us-2.html">About Us 2</a></li>-->
                                                        <!--                        <li><a class="subcategory_item" href="about-us-3.html">About Us 3</a></li>-->
                                                        <!--                        <li><a class="subcategory_item" href="about-us-4.html">About Us 4</a></li>-->
                                                        <!--                    </ul>-->
                                                        <!--                </div>-->
                                                        <!--            </div>-->
                                                        <!--        </div>-->
                                                        <!--    </div>-->
                                                        <!--</li>-->
                                                        <!--<li class="with-sub-menu hover">-->
                                                        <!--    <p class="close-menu"></p>-->
                                                        <!--    <a href="#" class="clearfix">-->
                                                        <!--        <strong>Categories</strong>                                                             -->
                                                      
                                                        <!--        <b class="caret"></b>-->
                                                        <!--    </a>-->
                                                        <!--    <div class="sub-menu" style="width: 100%; display: none;">-->
                                                        <!--        <div class="content">-->
                                                        <!--            <div class="row">-->
                                                        <!--                <div class="col-sm-12">-->
                                                        <!--                    <div class="row">-->
                                                        <!--                        <div class="col-md-3 img img1">-->
                                                        <!--                            <a href="#"><img src="image/catalog/menu/megabanner/image-1.jpg" alt="banner1"></a>-->
                                                        <!--                        </div>-->
                                                        <!--                        <div class="col-md-3 img img2">-->
                                                        <!--                            <a href="#"><img src="image/catalog/menu/megabanner/image-2.jpg" alt="banner2"></a>-->
                                                        <!--                        </div>-->
                                                        <!--                        <div class="col-md-3 img img3">-->
                                                        <!--                            <a href="#"><img src="image/catalog/menu/megabanner/image-3.jpg" alt="banner3"></a>-->
                                                        <!--                        </div>-->
                                                        <!--                        <div class="col-md-3 img img4">-->
                                                        <!--                            <a href="#"><img src="image/catalog/menu/megabanner/image-4.jpg" alt="banner4"></a>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--            </div>-->
                                                        <!--            <div class="row">-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <a href="#" class="title-submenu">Automotive</a>-->
                                                        <!--                    <div class="row">-->
                                                        <!--                        <div class="col-md-12 hover-menu">-->
                                                        <!--                            <div class="menu">-->
                                                        <!--                                <ul>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Car Alarms and Security</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Car Audio &amp; Speakers</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Gadgets &amp; Auto Parts</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">More Car Accessories</a></li>-->
                                                        <!--                                </ul>-->
                                                        <!--                            </div>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <a href="#" class="title-submenu">Funitures</a>-->
                                                        <!--                    <div class="row">-->
                                                        <!--                        <div class="col-md-12 hover-menu">-->
                                                        <!--                            <div class="menu">-->
                                                        <!--                                <ul>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Bathroom</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Bedroom</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Decor</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Living room</a></li>-->
                                                        <!--                                </ul>-->
                                                        <!--                            </div>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <a href="#" class="title-submenu">Jewelry &amp; Watches</a>-->
                                                        <!--                    <div class="row">-->
                                                        <!--                        <div class="col-md-12 hover-menu">-->
                                                        <!--                            <div class="menu">-->
                                                        <!--                                <ul>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Earings</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Wedding Rings</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Men Watches</a></li>-->
                                                        <!--                                </ul>-->
                                                        <!--                            </div>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--                <div class="col-md-3">-->
                                                        <!--                    <a href="#" class="title-submenu">Electronics</a>-->
                                                        <!--                    <div class="row">-->
                                                        <!--                        <div class="col-md-12 hover-menu">-->
                                                        <!--                            <div class="menu">-->
                                                        <!--                                <ul>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Computer</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Smartphone</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Tablets</a></li>-->
                                                        <!--                                    <li><a href="#"  class="main-menu">Monitors</a></li>-->
                                                        <!--                                </ul>-->
                                                        <!--                            </div>-->
                                                        <!--                        </div>-->
                                                        <!--                    </div>-->
                                                        <!--                </div>-->
                                                        <!--            </div>-->
                                                        <!--        </div>-->
                                                        <!--    </div>-->
                                                        <!--</li>-->
                                                        
                                                        <!--<li class="">-->
                                                        <!--    <p class="close-menu"></p>-->
                                                        <!--    <a href="#" class="clearfix">-->
                                                        <!--        <strong>Accessories</strong>-->
                                             
                                                        <!--    </a>-->
                                                
                                                        <!--</li>-->
                                                        <!--<li class="">-->
                                                        <!--    <p class="close-menu"></p>-->
                                                        <!--    <a href="blog-page.html" class="clearfix">-->
                                                        <!--        <strong>Blog</strong>-->
                                                        <!--        <span class="label"></span>-->
                                                        <!--    </a>-->
                                                        <!--</li>-->
                                                        
                                                        
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

        </div>

    </header>
    <!-- //Header Container  -->
   
    <!-- //Header Container  -->
    