<%- include("header_auth") %>
<style>
    .left-content-product .content-product-right .product-label .stock .out-status-stock:before {
    content: "\f05c";
    font-family: FontAwesome;
    display: inline-block;
    color: red;
    margin-right: 5px;
    margin-left: 10px;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_downn {
    background: none repeat scroll 0 0 #444;
    font-size: 13px;
    padding: 0 4px;
    position: absolute;
    right: 14px;
    top: 21px;
    width: 14px;
    height: 15.5px;
    line-height: 15px;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span {
    border: 0 none;
    color: white;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    border-radius: 0;
    cursor: pointer;
    line-height: 16px;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_upp {
    background: none repeat scroll 0 0 #444;
    padding: 0 4px;
    position: absolute;
    right: 14px;
    top: 4px;
    height: 16.5px;
    width: 14px;
}
</style>
                                       <% const get_discount = (price, dis) => {
                                var d1 = price * dis
                                return Math.floor(d1/100).toFixed(2)
                                    
                                } %>    
<div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#" style="color: #000;"><%= part.model.name %></a></li>
            <li><a href="#" style="color: #000;"><%= part.name %></a></li>
            
        </ul>
        
        <div class="row">
    
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
                <div class="module category-style">
                    <h3 class="modtitle">Categories</h3>
                    <div class="modcontent">
                        <div class="box-category">
                            <ul id="cat_accordion" class="list-group">
                                                               <% categories.forEach(cat => { %>
                                <li class=""><a href="/category/<%= cat.slug %>" class="cutom-parent"><%= cat.title %></a>  <span class="dcjq-icon"></span></li>
                                <% }) %>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
                  <div class="module product-simple">
                    <h3 class="modtitle">
                        <span>Latest products</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider">
                             <!--Begin extraslider-inner -->
                            <div class="yt--slider extraslider-inner">
                                <div class="item ">
                                    <% newProd.forEach(item => { %>
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="/parts/<%= item.id %>" title="<%= item.name %>">
                                                    <img src="<%= item.img_url %>" alt="<%= item.name %>">
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title">
                                                <a href="/parts/<%= item.id %>" title="<%= item.name %>"><%= item.name %> </a>
                                            </div>
                                                    <% var tot = 0 %>
                                    
                                    <% item.reviews.forEach(review => { 
                                    tot = tot + review.rating 
                                            }) %>
                                    <% var rating = item.reviews.length > 0 ? tot / item.reviews.length  : 0; %>
                                    <div class="rating">  
                                        <% if(rating == 0){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 0 && rating < 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 1 && rating < 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 2 && rating < 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 3 && rating < 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 4 && rating < 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <% } else if(rating === 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <% } %>
                                    </div>
                                            <div class="content_price price">
                                              <% if(item.discount > 0){ %>
                                                  <% var prcc = item.price - parseInt(get_discount(item.price, item.discount)) %>
                                                <span class="price-new product-price"><%- cur %><%= prcc.toFixed(2) %> </span>&nbsp;&nbsp;

                                                <span class="price-old"><%- cur %><%= item.price.toFixed(2) %> </span>&nbsp;
                                                <% } else { %>
                                                <span class="price-new product-price"><%- cur %><%= item.price.toFixed(2) %> </span>&nbsp;&nbsp;<% } %>


                                            </div>
                                        </div>
                                         <!--End item-info -->
                                         <!--End item-wrap-inner -->
                                    </div>
                                     <!--End item-wrap -->
                                     <% }) %>
                                </div>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
  
               
            </aside>
            <!--Left Part End -->

            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                
                <div class="product-view row">
                    <div class="left-content-product">
                
                        <!--<div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">-->
                        <!--    <div class="large-image">-->
                        <!--        <img itemprop="image" class="product-image-zoom" src="<%= part.img_url %>" title="<%= part.name %>" alt="<%= part.name %>">-->
                        <!--    </div>-->
                           
                            
                        <!--    <div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="4"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">-->
                        <!--    <a data-index="0" class="img thumbnail" data-image="<%= part.img_url %>" title="<%= part.name %>">-->
                        <!--            <img src="<%= part.img_url %>" title="<%= part.name %>" alt="<%= part.img_url %>">-->
                        <!--        </a>-->
                        <!--        <a data-index="1" class="img thumbnail" data-image="<%= part.img_url_1 %>" title="<%= part.name %>">-->
                        <!--            <img src="<%= part.img_url %>" title="<%= part.name %>" alt="<%= part.img_url %>">-->
                        <!--        </a>-->
                        <!--        <a data-index="2" class="img thumbnail" data-image="<%= part.img_url_2 %>" title="<%= part.name %>">-->
                        <!--            <img src="<%= part.img_url %>" title="<%= part.name %>" alt="<%= part.img_url %>">-->
                        <!--        </a>-->
                                
                        <!--  </div>-->
                            
                        <!--</div>-->
                           <div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">
                            <div class="large-image  ">
                                <img itemprop="image" class="product-image-zoom" src="<%= part.img_url %>"  title="<%= part.name %>" alt="<%= part.name %>">
                            </div>
                            
                            <div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column00="3" data-items_column0="3" data-items_column1="3" data-items_column2="2"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <a data-index="0" class="img thumbnail " data-image="<%= part.img_url %>" title="<%= part.name %>">
                                    <img src="<%= part.img_url %>" title="<%= part.name %>" alt="<%= part.name %>">
                                </a>
                                <a data-index="1" class="img thumbnail " data-image="<%= part.img_url_1 %>" title="<%= part.name %>">
                                    <img src="<%= part.img_url_1 %>" title="<%= part.name %>" alt="<%= part.name %>">
                                </a>
                                <a data-index="2" class="img thumbnail " data-image="<%= part.img_url_2 %>" title="<%= part.name %>">
                                    <img src="<%= part.img_url_2 %>" title="<%= part.name %>" alt="<%= part.name %>">
                                </a>
                            </div>
                            
                        </div>

                        <div class="content-product-right col-md-7 col-sm-12 col-xs-12">
                            <div class="title-product">
                                <h1><%= part.name %> </h1>
                            </div>
                            <!-- Review ---->
                            <div class="box-review form-group">
                                       <% var tot = 0 %>
                                    
                                    <% part.reviews.forEach(review => { 
                                    tot = tot + review.rating 
                                            }) %>
                                    <% var rating = part.reviews.length > 0 ? tot / part.reviews.length  : 0; %>
                                    <div class="rating">  
                                          <% if(rating == 0){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 0 && rating < 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 1 && rating < 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 2 && rating < 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 3 && rating < 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 4 && rating < 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <% } else if(rating === 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <% } %>
                                    </div>
                                <a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><%= part.reviews.length %> reviews</a>  | 
                                <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                            </div>

                            <div class="product-label form-group">
                                <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="">
                                    
                                    <% if(part.discount > 0){ %>
                                    <% var prc = part.price - parseInt(get_discount(part.price, part.discount)) %>
                                    <span class="price-new" itemprop="price"><%- cur %><%= prc.toFixed(2) %></span>
                                    <span class="price-old"><%- cur %> <%= part.price.toFixed(2) %></span>
                                    <% } else { %>
                                     <span class="price-new" itemprop="price"><%- cur %> <%= part.price.toFixed(2) %></span>
                                    <% } %>
                                </div>
                              <% if(part.available){ %>  <div class="stock"><span>Availability:</span> <span class="status-stock">In Stock</span></div><% } else { %>  
                              <div class="stock"><span>Availability:</span> <span class="out-status-stock" style="color: red;">Out Of Stock</span></div> <% } %>
                            </div>

                            <div class="product-box-desc">
                                <div class="inner-box-desc">
                                    <div class="brand"><span>Part Number:</span><a href="#"> <%= part.product_code %> </a>     </div>
                                    <div class="reward"><span>Year:</span> <%= part.model.year %><%= part.model.year_2 !== part.model.year ? "- " + part.model.year_2 : null%></div>
                                    <div class="brand"><span>Make:</span><a href="#"> <%= part.model.car.brand.name %> </a>     </div>
                                    <div class="brand"><span>Car:</span><a href="#"> <%= part.model.car.name %> </a>     </div>
                                    <div class="brand"><span>Model:</span><a href="#"> <%= part.model.name %> </a>     </div>
                                    <div class="brand"><span class="mr-3">Weight:</span><a href="#"> <%= part.weight_in_kg %>KG </a>  
                                    <div class="brand"><span>Manufacturer:</span><a href="#"> <%= part.maker.name %> </a>     </div>
											</div>
                                </div>
                            </div>


                            <div id="product">
                                <h4>Available Options</h4>

                                <div class="form-group box-info-product">
                                   <% if(part.available || part.stock > 1){ %>
                                   <div class="option quantity">
                                        <div class="input-group quantity-control px-0" unselectable="on" style="-webkit-user-select: none;">
                                            <label>Qty</label>
                                            <input class="form-control" style="width: 75px;" type="number" id="qty" name="quantity" value="1" min="0" max="<%= part.stock %>" disabled>
                                            <input type="hidden" name="product_id" value="50" value="<%= part.id %>">
                                            <span class="input-group- product_quantity_downn" onclick="subt()">−</span>
                                            <span class="input-group- product_quantity_upp" onclick="add(<%= part.stock %>)">+</span>
                                        </div>
                                    </div>
                                    
                                    <div class="cart">
                                        <input type="button" data-toggle="tooltip" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('<%= part.id %>', '<%= part.img_url %>',  '<%= part.name %>', document.getElementById('qty').value);" data-original-title="Add to Cart">
                                    </div>
                                    <% } %>
                                    <div class="add-to-links wish_comp">
                                        <ul class="blank list-inline">
                                            <li class="wishlist">
                                                <a class="icon" data-toggle="tooltip" title="" onclick="wishlist.add('<%= part.id %>');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                            <!-- end box info product -->

                        </div>
                
                    </div>
                </div>
                <!-- Product Tabs -->
                <div class="producttab ">
                    <div class="tabsslider  vertical-tabs col-xs-12">
                        <ul class="nav nav-tabs col-lg-2 col-sm-3">
                            <li class="active"><a data-toggle="tab" href="#tab-1" style="z-index: 0;">Description</a></li>
                            <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Reviews (<%= part.reviews.length %>)</a></li>
                           
                        </ul>
                        <div class="tab-content col-lg-10 col-sm-9 col-xs-12">
                            <div id="tab-1" class="tab-pane fade active in">
                                <p>
                               <%= part.description %>
                               </p>
                                
                                
                            </div>
                            <div id="tab-review" class="tab-pane fade">
                                
                                    
                                    <div id="review">
                                        <% if(part.reviews.length > 0){ %>
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                <% part.reviews.forEach((review, id) => { %>
                                                <% if(id < 6){ %>
                                                <tr>
                                                    <td style="width: 50%;"><strong><%= review.user.firstName %> <%= review.user.lastName %><% if(user && user.id == review.user.id){ %>(ME)<% } %></strong></td>
                                                    <td class="text-right"><%= moment(review.createdAt).format("L") %></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p><%= review.review %></p>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <%  Array.from(Array(review.rating)).forEach(rate => { %>
                                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    <!--<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>-->
                                                                    <!--<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>-->
                                                                    <!--<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>-->
                                                                    <!--<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>-->
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <% }else { %>
                                        <center class="my-3">
                                            <p class="small">No reviews yet</p>
                                        </center>
                                        <% } %>
                                        <div class="text-right"></div>
                                    </div>
                                    <form onsubmit="sb(event)">
                                    <h2 id="review-title">Write a review</h2>
                                    <div class="contacts-form">
                                       
                                        <div class="form-group">
                                            <input class="form-control" name="txt" id="t_input" placeholder="your review" required />
                                        </div> 
                                        <div class="form-group">
                                         <b>Rating</b> <span>Bad</span>&nbsp;
                                        <input type="radio" name="rating" value="1" required> &nbsp;
                                        <input type="radio" name="rating" value="2" required> &nbsp;
                                        <input type="radio" name="rating" value="3" required> &nbsp;
                                        <input type="radio" name="rating" value="4" required> &nbsp;
                                        <input type="radio" name="rating" value="5" required> &nbsp;<span>Good</span>
                                        
                                        </div>
                                        <% if(user && part.reviews.filter(prt => prt.user_id === user.id).length < 1){ %><div class="buttons clearfix"><button id="btt" class="btn buttonGray" type="submit">Continue</button></div> <% }else{ %> <div class="buttons clearfix"><button id="btt" class="btn buttonGray" disabled>Continue</button></div><% } %>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- //Product Tabs -->

                <!-- Related Products -->
  <div class="related titleLine products-list grid module ">
                    <h3 class="modtitle">Related Products  </h3>
                 <% if(related.length > 0){ %>
                    <div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">

      
                                    <% function truncate(str, n){
  return (str.length > n) ? str.substr(0, n-1) + '&hellip;' : str;
}; %>
             
                        <% related.forEach(part => { %>
                        <% if(part.available){ %>
                        <div class="product-layout product-grid">
                            <div class="product-item-container item--static">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="/parts/<%= part.id %>" target="_self" title="<%= part.name %>" style="text-overflow: ellipsis;">
                                            <div style="height: 250px; width: 100%; background: url('<%= part.img_url %>') center; background-size: contain;background-repeat: no-repeat;"></div>
                                            <img src="<%= part.img_url %>" class="img-2 img-responsive" alt="image2">
                                        </a>
                                    </div>
                                    <% if(part.discount > 0){ %><span class="label-product label-sale">-<%= part.discount %>%</span><% } %>
                                    <!--<span class="label-product label-new">New</span>-->
                                </div>
                                <div class="right-block">

                                    <div class="button-group cartinfo--static">
                                        
                                        <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                        <% if(part.available){ %>
                                        <button type="button" class="addToCart" title="Add to cart" data-id="<%= part.id %>" data-image="<%= part.img_url %>" data-name="<%= part.name %>" data-quantity="1" clic="cart.add('<%= part.id %>', '<%= part.img_url %>', '<%= part.name %>', '1');">
                                            <center><span>Add to cart </span>   </center>
                                        </button> 
                                        <% }else { %>
                                        <a href="/parts/<%= part.id %>" class="addToCart" title="Out Of Stock" disabled>
                                            <center><span>Out of Stock </span>  </center> 
                                        </button>                                         
                                        <% } %>
                                    </div>
                                    <h4><a href="/parts/<%= part.id %>" title="<%= part.title %>" style="text-overflow: ellipsis;"><%- truncate(part.name, 20) %></a></h4>
                                      <% var tot = 0 %>
                                    
                                    <% part.reviews.forEach(review => { 
                                    tot = tot + review.rating 
                                            }) %>
                                    <% var rating = part.reviews.length > 0 ? tot / part.reviews.length  : 0; %>
                                    <div class="rating">  
                                         <% if(rating == 0){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 0 && rating < 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 1){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 1 && rating < 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 2){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 2 && rating < 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 3){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 3 && rating < 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% } else if(rating === 4){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <% }else if(rating > 4 && rating < 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-half fa-stack-2x" style="color: #FFC501;"></i></span>
                                        <% } else if(rating === 5){ %>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <% } %>
                                    </div>
                                    
                                    <% if(part.discount > 0){ %>
                                    <div class="price">
                                        <% var prc = part.price - parseInt(get_discount(part.price, part.discount)) %>
                                    <span class="price-new" itemprop="price"><%- cur %><%= prc.toFixed(2) %></span>
                                    <span class="price-old"><%- cur %><%= part.price.toFixed(2) %></span>
                                    </div>
                                    <% } else { %>
                                    <div class="price">
                                      <span class="price"><%- cur %> <%= part.price.toFixed(2) %></span>
                                    </div><% } %>
                                    <div class="description item-desc hidden">
                                        <p><%- truncate(part.description, 150) %></p>
                                    </div>
                                    <div class="list-block hidden">
                                        <% if(part.available){ %>
                                        <button class="addToCart btn-button" type="button" title="Add to Cart" data-id="<%= part.id %>" data-img="<%= part.img_url %>" data-name="<%= part.name %>" data-quantity="1" clic="cart.add('<%= part.id %>', '<%= part.img_url %>', '<%= part.name %>', '1');"><i class="fa fa-shopping-basket"></i>
                                        </button>
                                        <% }else { %>
                                         <button class="addToCart btn-button" type="button" title="Out Of Stock" disabled><i class="fa fa-times"></i>
                                        </button>
                                        <% } %>
                                        <button class="wishlist btn-button" type="button" title="Add to Wish List" onclick="wishlist.add('<%= part.id %>');"><i class="fa fa-heart"></i>
                                        </button>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                                       </div>
                        <% } else{ %>
                        <center>
                            <div class="col-sm-12 mx-auto mt-5 py-4">
                                <p class="small my-2">No Listing Available</p>
                                <img src="/img/empty.png" alt="empty" height="250px">
                            </div>
                        </center>
                        <% } %>
                    </div>
                </div>


                <!-- end Related  Products-->
            </div>
                
                
                
            
            
                
            </div>
            
            
        </div>
        </div>
<%- include("footer_auth") %>
<script>
      $(document).ready(function() {
	
	

});



// $(document).ready(function() {
// 	var zoomCollection = '.large-image img';
// 	$( zoomCollection ).elevateZoom({
// 		zoomType    : "inner",
// 		lensSize    :"200",
// 		easing:true,
// 		gallery:'thumb-slider-vertical',
// 		cursor: 'pointer',
// 		galleryActiveClass: "active"
// 	});
// 	$('.large-image').magnificPopup({
// 		items: [
// 			{src: '<%= part.img_url %>' },
// 			{src: '<%= part.img_url_1 %>' },
// 			{src: '<%= part.img_url_2 %>' },
// 		],
// 		gallery: { enabled: true, preload: [0,2] },
// 		type: 'image',
// 		mainClass: 'mfp-fade',
// 		callbacks: {
// 			open: function() {
				
// 				var activeIndex = parseInt($('#thumb-slider-vertical .img.active').attr('data-index'));
// 				var magnificPopup = $.magnificPopup.instance;
// 				magnificPopup.goTo(activeIndex);
// 			}
// 		}
// 	});
// 	$("#thumb-slider-vertical .owl2-item").each(function() {
// 		$(this).find("[data-index='0']").addClass('active');
// 	});
	

// 	$('.product-options li.radio').click(function(){
// 		$(this).addClass(function() {
// 			if($(this).hasClass("active")) return "";
// 			return "active";
// 		});
		
// 		$(this).siblings("li").removeClass("active");
// 		$(this).parent().find('.selected-option').html('<span class="label label-success">'+ $(this).find('img').data('original-title') +'</span>');
// 	});
	
// 	var _isMobile = {
// 	  iOS: function() {
// 	   return navigator.userAgent.match(/iPhone/i);
// 	  },
// 	  any: function() {
// 	   return (_isMobile.iOS());
// 	  }
// 	};
	
// 	$(".thumb-vertical-outer .next-thumb").click(function () {
// 		$( ".thumb-vertical-outer .lSNext" ).trigger( "click" );
// 	});

// 	$(".thumb-vertical-outer .prev-thumb").click(function () {
// 		$( ".thumb-vertical-outer .lSPrev" ).trigger( "click" );
// 	});

// 	$(".thumb-vertical-outer .thumb-vertical").lightSlider({
// 		item: 3,
// 		autoWidth: false,
// 		vertical:true,
// 		slideMargin: 10,
// 		verticalHeight:330,
//         pager: false,
// 		controls: true,
//         prevHtml: '<i class="fa fa-angle-up"></i>',
//         nextHtml: '<i class="fa fa-angle-down"></i>',
// 		responsive: [
// 			{
// 				breakpoint: 1199,
// 				settings: {
// 					verticalHeight: 215,
// 					item: 2,
// 				}
// 			},
// 			{
// 				breakpoint: 1024,
// 				settings: {
// 					verticalHeight: 240,
// 					item: 2,
// 					slideMargin: 5,
// 				}
// 			},
// 			{
// 				breakpoint: 768,
// 				settings: {
// 					verticalHeight: 340,
// 					item: 3,
// 				}
// 			}
// 			,
// 			{
// 				breakpoint: 480,
// 				settings: {
// 					verticalHeight: 100,
// 					item: 1,
// 				}
// 			}

// 		]
		
//     });

	
	
// 	// Product detial reviews button
// 	$(".reviews_button,.write_review_button").click(function (){
// 		var tabTop = $(".producttab").offset().top;
// 		$("html, body").animate({ scrollTop:tabTop }, 1000);
// 	});
// });
    $(document).ready(function ($) {
	"use strict";
	// Content slider
	$('.yt-content-slider').each(function () {
		var $slider = $(this),
			$panels = $slider.children('div'),
			data = $slider.data();
		// Remove unwanted br's
		//$slider.children(':not(.yt-content-slide)').remove();
		// Apply Owl Carousel
		
		$slider.owlCarousel2({
			responsiveClass: true,
			mouseDrag: true,
			video:true,
    		lazyLoad: (data.lazyload == 'yes') ? true : false,
			autoplay: (data.autoplay == 'yes') ? true : false,
			autoHeight: (data.autoheight == 'yes') ? true : false,
			autoplayTimeout: data.delay * 1000,
			smartSpeed: data.speed * 1000,
			autoplayHoverPause: (data.hoverpause == 'yes') ? true : false,
			center: (data.center == 'yes') ? true : false,
			loop: (data.loop == 'yes') ? true : false,
            dots: (data.pagination == 'yes') ? true : false,
            nav: (data.arrows == 'yes') ? true : false,
			dotClass: "owl2-dot",
			dotsClass: "owl2-dots",
            margin: data.margin,
            navText: ['',''],
			
			responsive: {
				0: {
					items: data.items_column4 
					},
				480: {
					items: data.items_column3
					},
				768: {
					items: data.items_column2
					},
				992: { 
					items: data.items_column1
					},
				1200: {
					items: data.items_column0 
					},
				1650: {
					items: data.items_column00 
				}
			}
		});
		
	});
		var zoomCollection = '.large-image img';
	$( zoomCollection ).elevateZoom({
		zoomType    : "inner",
		lensSize    :"200",
		easing:true,
		gallery:'thumb-slider',
		cursor: 'pointer',
		
		galleryActiveClass: "active"
	});
	$('.large-image').magnificPopup({
		items: [
			{src: '<%= part.img_url %>' },
			{src: '<%= part.img_url_1 %>' },
			{src: '<%= part.img_url_2 %>' },
		],
		gallery: { enabled: true, preload: [0,2] },
		type: 'image',
		mainClass: 'mfp-fade',
		callbacks: {
			open: function() {
				
				var activeIndex = parseInt($('#thumb-slider .img.active').attr('data-index'));
				var magnificPopup = $.magnificPopup.instance;
				magnificPopup.goTo(activeIndex);
			}
		}
	});
	$("#thumb-slider .owl2-item").each(function() {
		$(this).find("[data-index='0']").addClass('active');
		console.log("done")
		$(".zoomContainer").remove()
	});

	$('.product-options li.radio').click(function(){
		$(this).addClass(function() {
			if($(this).hasClass("active")) return "";
			return "active";
		});
		
		$(this).siblings("li").removeClass("active");
		$(this).parent().find('.selected-option').html('<span class="label label-success">'+ $(this).find('img').data('original-title') +'</span>');
	});
	// Product detial reviews button
	$(".reviews_button,.write_review_button").click(function (){
		var tabTop = $(".producttab").offset().top;
		$("html, body").animate({ scrollTop:tabTop }, 1000);
	});
	
	
    });
</script>
<script> 
    const sb = (event) => {
        event.preventDefault()
        var check = $("input:radio[name=rating]:checked").val()
        var btn = document.getElementById("btt")
        btn.innerHTML = "loading..."
        btn.disabled = true
        axios.post("/send-review", { 
            review: $("#t_input").val(),
            rating: parseInt(check),
            id: '<%= part.id %>'
        }).then(res => {
            if(res.data.message){
                $.alert(res.data.message)
                location.reload()
                btn.innerHTML = "Continue"
                btn.disabled = false
            }else if(res.data.error) {
                $.alert(res.data.error)
                btn.innerHTML = "Continue"
                btn.disabled = false
            }
        }).catch(err => {
            if(err){
                if(err.response){
                    console.log(err.response)
                 $.alert(err.response.data.error)
                btn.innerHTML = "Continue"
                btn.disabled = false                 
                }else {
                    $.alert("There was an error processing your request")
                btn.innerHTML = "Continue"
                btn.disabled = false                    
                }
            }
        })
    }
    const subt = () => {
        var val = document.getElementById("qty")
        var  value = parseInt(document.getElementById("qty").value)
            var vn = value - 1
        if(value > 1 || value == 1){
            console.log(vn)
            document.getElementById("qty").value = vn
        }
        
    }
    const add = (max) => {
        var val = document.getElementById("qty")
        var  value = parseInt(document.getElementById("qty").value)
            var vn2 = value + 1
        if(vn2 !== parseInt(max) && vn2 > parseInt(max)){
            console.log(max, vn2)
            return
        }
            console.log(vn2)
            document.getElementById("qty").value = vn2
        }

 
</script>