<%- include("header_auth") %>

<div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Search Results</a></li>
        </ul>
                                      <% const get_discount = (price, dis) => {
                                var d1 = price * dis
                                return Math.floor(d1/100).toFixed(2)
                                    
                                } %>      
        <div class="row">
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
                <div class="module category-style">
                    <h3 class="modtitle">Makes</h3>
                    <div class="modcontent">
                        <div class="box-category">
                            <ul id="cat_accordion" class="list-group">
                                <% brands.forEach(brand => { %>
                                <li class=""><a href="/makes/<%= brand.slug %>" class="cutom-parent"><%= brand.name %></a>  <span class="dcjq-icon"></span></li>
                                <% }) %>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="module product-simple">
                    <h3 class="modtitle">
                        <span>Latest products</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider">
                             <!--Begin extraslider-inner -->
                            <div class="yt-content extraslider-inner">
                                <div class="item ">
                                    <% newProd.forEach(item => { %>
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="#" title="<%= item.name %>">
                                                    <img src="<%= item.img_url %>" alt="<%= item.name %>">
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title">
                                                <a href="/parts/<%= item.id %>" title="<%= item.name %>"><%= item.name %> </a>
                                            </div>
                                            <!--<div class="rating">-->
                                            <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                            <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                            <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                            <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                            <!--    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>-->
                                            <!--</div>-->
                                            
                                            <div class="content_price price">
                                                  <% if(item.discount > 0){ %>
                                                  <% var prcc = item.price - parseInt(get_discount(item.price, item.discount)) %>
                                                <span class="price-new product-price"><%- cur %><%= prcc.toFixed(2) %> </span>&nbsp;&nbsp;

                                                <span class="price-old"><%- cur %><%= item.price.toFixed(2) %> </span>&nbsp;
                                                <% } else { %>
                                                <span class="price-new product-price"><%- cur %><%= item.price.toFixed(2) %> </span>&nbsp;&nbsp;<% } %>

                                            </div>
                                        </div>
                                         <!--End item-info -->
                                         <!--End item-wrap-inner -->
                                    </div>
                                     <!--End item-wrap -->
                                     <% }) %>
                                </div>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
                <!--<div class="module banner-left hidden-xs ">-->
                <!--    <div class="banner-sidebar banners">-->
                <!--      <div>-->
                <!--        <a title="Banner Image" href="#"> -->
                <!--          <img src="image/catalog/banners/banner-sidebar.jpg" alt="Banner Image"> -->
                <!--        </a>-->
                <!--      </div>-->
                <!--    </div>-->
                <!--</div>-->
            </aside>
            <!--Left Part End -->
            
            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div class="products-category">
                    <% if(vin){ %>
                    <h3 class="title-category text-center"><%= vin.make %></h3>
                    <h4 class="text-center"><%= vin.model %> / <%= vin.year %></h4>
                    <% } %>
                    <!--changed listings-->
                    <div class="products-list row nopadding-xs so-filter-gird grid">
                        <% if(parts.length > 0){ %>
                        <% parts.forEach(part => { %>
                        <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container item--static">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="/parts/<%= part.id %>" target="_self" title="<%= part.name %>">
                                            <img src="<%= part.img_url %>" class="img-1 img-responsive" alt="image1">
                                            <img src="<%= part.img_url %>" class="img-2 img-responsive" alt="image2">
                                        </a>
                                    </div>
                                    <% if(part.discount > 0){ %><span class="label-product label-sale">-<%= part.discount %>%</span><% } %>
                                    <!--<span class="label-product label-new">New</span>-->
                                </div>
                                <div class="right-block">
                                    <div class="button-group cartinfo--static">
                                        
                                        <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="addToCart" title="Add to cart" data-id="<%= part.id %>" data-img="<%= part.img_url %>" data-name="<%= part.name %>" data-quantity="1" clic="cart.add('<%= part.id %>', '<%= part.img_url %>', '<%= part.name %>', '1');">
                                            <span>Add to cart </span>   
                                        </button>                                           
                                    </div>
                                    <h4><a href="/parts/<%= part.id %>" title="<%= part.title %>" target="_self"><%= part.name %></a></h4>
                                    <!--<div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                    <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                    <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                    <!--    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>-->
                                    <!--    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>-->
                                    <!--</div>-->
                                    
                                    <% if(part.discount > 0){ %>
                                    <div class="price">
                                        <% var prc = part.price - parseInt(get_discount(part.price, part.discount)) %>
                                    <span class="price-new" itemprop="price"><%- cur %><%= prc.toFixed(2) %></span>
                                    <span class="price-old"><%- cur %><%= part.pricetoFixed(2) %></span>
                                    </div>
                                    <% } else { %>
                                    <div class="price">
                                      <span class="price"><%- cur %> <%= part.price.toFixed(2) %></span>
                                    </div><% } %>
                                    <div class="description item-desc hidden">
                                        <p><%= part.description %></p>
                                    </div>
                                    <div class="list-block hidden">
                                        <button class="addToCart btn-button" type="button" title="Add to Cart" data-id="<%= part.id %>" data-img="<%= part.img_url %>" data-name="<%= part.name %>" data-quantity="1" clic="cart.add('<%= part.id %>', '<%= part.img_url %>', '<%= part.name %>', '1');"><i class="fa fa-shopping-basket"></i>
                                        </button>
                                        <button class="wishlist btn-button" type="button" title="Add to Wish List" onclick="wishlist.add('<%= part.id %>');"><i class="fa fa-heart"></i>
                                        </button>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                        <% }) %>
                        <% } else{ %>
                        <center>
                            <div class="col-sm-12 mx-auto mt-5 py-4">
                                <p class="h4 my-2">No Results found</p>
                                <img src="/img/empty.png" alt="empty" height="250px">
                            </div>
                        </center>
                        <% } %>
                    </div>
                    <!--// End Changed listings-->
                    <!-- Filters -->
                    <div class="product-filter product-filter-bottom filters-panel">
                        <div class="row">
                            <div class="col-sm-6 text-left"></div>
                            <div class="col-sm-6 text-right">Showing <%= parts.length %> Items</div>
                        </div>
                    </div>
                    <!-- //end Filters -->
                    
                </div>
                
            </div>
            

            <!--Middle Part End-->
        </div>
    </div>

<%- include("footer_auth") %>