<%- include("header_auth") %>

<% const get_discount = (price, dis) => {
var d1 = price * dis
return Math.floor(d1/100)

} %> 
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Wish List</a></li>
		</ul>
		
		<div class="row">
			<!--Middle Part Start-->
			<div id="content" class="col-sm-9">
				<h2 class="title">Wish List</h2>
				<div class="table-responsive">
				    <% if(wishes.length > 0){ %>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td class="text-center">Image</td>
								<td class="text-left">Product Name</td>
								<td class="text-left">Model</td>
								<td class="text-right">Stock</td>
								<td class="text-right">Unit Price</td>
								<td class="text-right">Action</td>
							</tr>
						</thead>
						<tbody>
						    <% wishes.forEach(wish => { %>
							<tr>
								<td class="text-center">
									<a href="/parts/<%= wish.part.id %>"><img width="70px" src="<%= wish.part.img_url %>" alt="<%= wish.part.name %>" title="<%= wish.part.name %>">
									</a>
								</td>
								<td class="text-left"><a href="/parts/<%= wish.part.id %>"><%= wish.part.name %></a>
								</td>
								<td class="text-left"><%= wish.part.model.name %></td>
								<td class="text-right">In Stock</td>
								<td class="text-right">
								    <div class="price">
								     <% if(wish.part.discount > 0){ %> 
								     <span class="price-new"><%- cur %><%= wish.part.price - get_discount(wish.part.price, wish.part.discount) %></span> <span class="price-old"><%- cur %><%= wish.part.price %></span></div>
                                    <% } else { %>
                                      <span class="price-new"><%- cur %> <%= wish.part.price %></span>
                                      <% } %>
								</div>
								
								</td>
								<td class="text-right">
									<button class="btn btn-primary" title="" data-toggle="tooltip" onclick="cart.addwish('<%= wish.part.id %>', '<%= wish.part.img_url %>', '<%= wish.part.name %>', '1');" type="button" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i>
									</button>
									<a class="btn btn-danger" title="Remove" onclick="remove('<%= wish.part.id %>')" data-toggle="tooltip" href="" data-original-title="Remove"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				
					 <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a href="">2</a></li><li><a href="">&gt;</a></li>
                                    <li><a href="">&gt;|</a></li>
                                </ul>
                            </div> 
                            <% }else { %>
                            <p>NO ITEMS</p>
                            <% } %>
				</div>

			</div>
			<!--Middle Part End-->
			<!--Right Part Start -->
			<aside class="col-sm-3 hidden-xs content-aside col-md-3" id="column-right">
				<h2 class="subtitle">Account</h2>
<div class="list-group">
	<ul class="list-item">
		<li><a href="login.html">Login</a>
		</li>
		<li><a href="register.html">Register</a>
		</li>
		<li><a href="#">Forgotten Password</a>
		</li>
		<li><a href="#">My Account</a>
		</li>
		<li><a href="#">Address Books</a>
		</li>
		<li><a href="wishlist.html">Wish List</a>
		</li>
		<li><a href="#">Order History</a>
		</li>
		<li><a href="#">Downloads</a>
		</li>
		<li><a href="#">Reward Points</a>
		</li>
		<li><a href="#">Returns</a>
		</li>
		<li><a href="#">Transactions</a>
		</li>
		<li><a href="#">Newsletter</a>
		</li>
		<li><a href="#">Recurring payments</a>
		</li>
	</ul>
</div>			</aside>
			<!--Right Part End -->
		</div>
	</div>
	<!-- //Main Container -->
	

<%- include("footer_auth") %>
<script>
    const remove = (id) => {
        axios.post("/remove-from-wishlist", {
            part_id: id
        }).then(res => {
            if(res.data.message){
                location.reload()
            }
        })
    }
</script>